@{
     Layout = null;
}

<!DOCTYPE html>
<html lang="pl" ng-app="haerApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Haer</title>
    <base href="http://localhost:8020/" />
    <link rel="icon" href="~/Content/img/logo.png">
    @Styles.Render("~/style")
</head>
<body ng-controller="appCtrl">
    
    <div id="container">
        <div class="ui pointing menu">
            <a class="item" ng-class="nav.getTabActivityClass('list')" ng-click="nav.setCurrentTab('list')" href="contacts/list"><i class="align justify icon"></i>Zarządzaj</a>
            <a class="item" ng-class="nav.getTabActivityClass('add')" ng-click="nav.setCurrentTab('add')" href="contacts/add"><i class="add icon"></i>Dodaj</a>
        </div>
        <div class="ui teal segment">
            <ng-view>

            </ng-view>
        </div>

    </div>


    @Scripts.Render("~/scripts/vendors")
    @Scripts.Render("~/scripts/app")
</body>
</html>

<!--
@*
@{
    Layout = null;
}
*@    


<!DOCTYPE html>

<html ng-app="homeCinema">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Cinema</title>
    @*
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")    
    *@

</head>
<body ng-controller="rootCtrl">
    <top-bar></top-bar>
    <div class="row-offcanvas row-offcanvas-left">
        <side-bar></side-bar>
        <div id="main">
            <div class="col-md-12">
                <p class="visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
                </p>
                <div class="page {{ pageClass }}" ng-view></div>
            </div>
        </div>
    </div><!--/row-offcanvas 
@*
    @Scripts.Render("~/bundles/vendors")
    @Scripts.Render("~/bundles/spa")
*@


</body>
</html>
-->
